<html>
  <body>
    <form method="POST" action="/record_url">
      <label>Url to shorten</label>
      <input type="text" name="url_to_shorten">
      <input type="submit" name="Shorten URL">
    </form>
  </body>
</html>
