<html>
  <body>
    <% if defined?@url %>
        <p>Your url has been stroed with an id of: <%= @url.url_id %></p>
        <p>Your shortened url is : <%= @base_route + "/" + @url.url_id %></p>
    <% elsif defined?@error %>
        <p><%= @error %></p>
    <% end %>
    <form method="POST" action="/record_url">
      <label>Url to shorten</label>
      <input type="text" name="url_to_shorten">
      <input type="submit" name="Shorten URL">
    </form>
  </body>
  <a href="/show_all_urls">Show all stored URLs</a>
</html>
